<div class="container">
  <div class="row">
      <h1>All our Flats</h1>
      <% @flats.each do |flat| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('https://source.unsplash.com/featured/?<%= flat.address %>');">
            <h3><%= flat.name %></h3>
            <p><%= flat.address %></p>
            <ul class="list-inline">
              <li>
                <p><i class="fas fa-user-friends"></i><%= flat.number_of_guests %></p>
              </li>
              <li>
                <p><i class="fas fa-euro-sign"></i><%= flat.price_per_night %></p>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>
